<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKey</key>
	<string>92b50def-32a1-441c-85f6-fdd5674b81d5
92b50def-32a1-441c-85f6-fdd5674b81d5
92b50def-32a1-441c-85f6-fdd5674b81d5</string>
</dict>
</plist>
